# non-uniform quantize config
activation_offset : ${activation_offset}
joint_quant : false
batch_num : 1
nuq_config {
    mapping_file : "${mapping_json}"
    nuq_quantize : {
        num_steps : ${num_steps}
        num_of_iteration : ${num_of_iteration}
    }
}

common_config : {
    arq_quantize : {
        channel_wise : true
    }
    ifmr_quantize : {
        search_range_start : 0.7
        search_range_end : 1.3
        search_step : 0.01
        max_percentile : 0.999999
        min_percentile : 0.999999
        asymmetric : true
    }
}
